{% load static helpers i18n %}
<div class="container">
    <div class="header d-flex align-items-center text-nowrap">
        <a href="#" class="text-primary">Chat with us</a>
        <a href="tel:{{ setting_phone }}" class="ml-2 ml-lg-5 text-secondary d-none d-lg-block">{{ setting_phone }}</a>
        <a href="mailto:{{ setting_email }}" class="ml-2 ml-lg-5 text-secondary d-none d-lg-block">{{ setting_email }}</a>

        <a href="#" class="ml-auto text-primary">Blog</a>
        <a href="{% url 'main:about' %}" class="ml-2 ml-lg-4 text-primary">{% trans "Biz haqimizda" %}</a>
        <a href="{% url 'main:contact' %}" class="ml-2 ml-lg-4 text-primary">{% trans "Bog'lanish" %}</a>

        <div class="d-block d-lg-none ml-2">
            {% include 'layouts/_icons.html' %}
        </div>
    </div>
</div>

<div class="container header-search py-3 py-lg-5">
    <div class="row">
        <div class="col-lg-3 text-center text-lg-left pb-3 pb-lg-0">
            <a href="{% url 'main:index' %}">
                <img src="{% static 'img/logo.png' %}" alt="Logo" />
            </a>
        </div>
        <div class="col-lg-6 text-center">
            <div class="input-group search-form rounded">
                <div class="input-group-prepend position-relative">
                     <a href="#" data-toggle="dropdown" class="dropdown-toggle btn">All categories</a>
                    <div class="dropdown-menu">
                        {% for category in categories %}
                        <a href="#" class="dropdown-item">{{ category.name }}</a>
                        {% endfor %}
                    </div>
                </div>

                <input type="text" class="px-4 form-control border-0 shadow-none" placeholder="Search Products, categories ..." />

                <div class="input-group-append">
                    <button type="submit" class="btn">
                        <i class="bi-search text-secondary"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-lg-3 text-right header-icons d-none d-lg-block">
            {% include 'layouts/_icons.html' %}
        </div>
    </div>
</div>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% for category in categories %}
                {% if category_children|get_item:category.id  %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" data-toggle="dropdown">
                            {{ category.name }}
                        </a>
                        <div class="dropdown-menu">
                            {% for child in category_children|get_item:category.id %}
                            <a class="dropdown-item" href="#">{{ child.name }}</a>
                            {% endfor %}
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item active">
                        <a class="nav-link" href="#">{{ category.name }}</a>
                    </li>
                {% endif %}
            {% endfor %}

            </ul>
      </div>
    </div>
</nav>