{% load i18n %}
<a href="#" class="text-secondary h-icon" data-toggle="tooltip" title="{% trans "Ro'yxatdan o'tish" %}"><i class="bi-person"></i></a>
<a href="#" class="text-secondary h-icon ml-2 ml-lg-3" data-toggle="tooltip" title="{% trans "Tizimga kirish" %}"><i class="bi-box-arrow-in-right"></i></a>
<a href="#" class="ml-2 ml-lg-3 text-secondary position-relative h-icon" data-toggle="tooltip" title="{% trans "Savatcha" %}">
    <i class="bi-basket"></i>
    <span class="badge badge-danger position-absolute">99</span>
</a>