{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% block head %}{% endblock %}
</head>
<body>
    {% block body %}{% endblock %}

    {% include 'layouts/_header.html' %}

    {% block content %}{% endblock %}

    {% include 'layouts/_links.html' %}

    <div class="mt-5 py-3 container">
        Copyright &copy; 2021 - by <a href="http://shranet.com" target="_blank" class="text-primary">shranet</a>
    </div>

    <script src="{% static 'vendor/jquery.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

    {% block js %}{% endblock %}
</body>
</html>