<div class="row">
    <div class="col-lg-6">
        <div class="post d-flex flex-column p-5 rounded">
            <a href="#" class="text-primary font-weight-bold d-block">Banner subfocus</a>
            <h2 class="mt-3">Space for heading</h2>
            <div class="mt-auto">
                <a href="#" class="btn btn-outline-primary text-secondary font-weight-bold">
                    Read recepies
                    <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.0332 11.6867L9.7732 8.94669C9.89737 8.82178 9.96706 8.65282 9.96706 8.47669C9.96706 8.30057 9.89737 8.1316 9.7732 8.00669L7.10654 5.34003" stroke="#6A983C" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="bevel"/>
                    </svg>

                </a>
            </div>
        </div>
    </div>
    <div class="col-lg-6 mt-3 mt-lg-0">
        <div class="post d-flex flex-column p-5 rounded">
            <a href="#" class="text-primary font-weight-bold d-block">Banner subfocus</a>
            <h2 class="mt-3">Space for heading</h2>
            <div class="mt-auto">
                <a href="#" class="btn btn-outline-primary text-secondary font-weight-bold">
                    Read recepies
                    <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.0332 11.6867L9.7732 8.94669C9.89737 8.82178 9.96706 8.65282 9.96706 8.47669C9.96706 8.30057 9.89737 8.1316 9.7732 8.00669L7.10654 5.34003" stroke="#6A983C" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="bevel"/>
                    </svg>

                </a>
            </div>
        </div>
    </div>
</div>