{% load static %}
<div class="border rounded p-3 product">
    <div class="bg-light rounded img" style="background-image: url('{% static 'img/product.jpg' %}')"></div>
    <div class="mt-2">
        <a href="#" class="text-secondary font-weight-bold d-block py-1">Product Title</a>
        <small class="text-muted">Product short info</small>

        <div class="d-lg-flex align-items-center mt-3 text-center text-lg-left">
            <big class="font-weight-bold text-secondary">$1.15</big>
            <a href="#" class="ml-auto btn btn-primary d-block mt-3 mt-lg-0 font-weight-bold">Buy now</a>
        </div>
    </div>
</div>